h1 {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: linear-gradient(to right, rgb(38, 38, 127), rgb(121, 160, 222));
    color: white;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.input-group {
    margin-left: 10px; 
}

.forecast {
    margin-top: 20px;
    margin-right: 600px;
    margin-left: 20px;
}

h4 {
    position: relative;
    justify-content: flex-start;
    padding: 5px;
    border: solid navy;
    border-radius: 10px;
    text-align: center;

}


